.tabs-container {
    display: flex;
  }
  
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    color: #FFFFFF;
  }
  
  .active {
    font-weight: bold;
  }
  
  .active-tab-line {
    height: 2px;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  
  .active-tab-line.quarantine {
    background-color: #FFFFFF;
  }
  
  .active-tab-line.dynamic {
    background-color: #FFFFFF;
  }
  
  .active-tab-line.last {
    background-color: #FFFFFF;
  }
  /* ////scroll bar */
  /* CustomScrollbar.css */

  
  .tablecontainer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    min-height: 30px;
    width: 5px;
    background: rgb(153, 153, 153);
    opacity: 0.5;    
    /* transform: translate(0px, 20px); */
    height: 0.9316%;
  }

  
    .tablecontainer::-webkit-scrollbar {
      background-color: #181B1F;
      width: 5px;
   
    }
  