@tailwind base;
@tailwind components;
@tailwind utilities;
 body{
  margin: 0;
background-color: black;
}
.border-color{
  border-radius: 2.5px;
  border: 1px solid rgba(255, 255, 255, 0.05);


}
.border-color-2{
  border-radius: 2.5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);


}
.css-emng1w-MuiTabs-root .MuiTab-root{
  margin-top: 2px !important;
  color: #C2C1D2 !important;
}

.css-emng1w-MuiTabs-root .MuiTabs-indicator {
  background: #C2C1D2;
  border-radius: 5px;
  height: 4px;
}
header {
  background-color: #1F2126 !important;
  
}
.card{
  border-radius: 2.5px;
border: 1px solid rgba(255, 255, 255, 0.05);
background: rgba(217, 217, 217, 0.03);
}
.css-19kzrtu{
  padding: 0px !important;
}
.black{
  border-radius: 2.5px;
border: 1.5px solid rgba(255, 255, 255, 0.10);
background: rgba(255, 255, 255, 0.05);
}
.css-1gutb0u {
  color: white !important;
  margin-left: 4px !important;
}
.green{
  border-radius: 2.5px;
border: 2px solid rgba(47, 199, 64, 0.25);
background: rgba(47, 199, 64, 0.25);
}
.red{
  border-radius: 2.5px;
border: 2px solid rgba(231, 5, 2, 0.50);
background: rgba(255, 0, 0, 0.10);
}
.red-alert{
  padding: 8px 16px;
  display: flex;
  border: 2px solid rgba(47, 199, 64, 0.25);
  background: rgba(123, 201, 131, 0.25);
  border-width: 1px;
}
.line-graph div canvas
{
  height: 100px !important;
  width: 400px !important;
}
.button{
  border-radius: 14px;
border: 1px solid rgba(255, 255, 255, 0.25);
background: rgba(255, 255, 255, 0.25);
}
.css-td06pi-button{
  /* border-radius: 10px !important; */
  border: 1px solid rgba(255, 255, 255, 0.25) !important;
  background: rgba(255, 255, 255, 0.25) !important;
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  height: 91% !important;
  top: 52px !important;
  overflow: hidden;
}


/* .icon-container {
  cursor-pointer p-4 bg-blue-500 text-white inline-block;
} */

.animated-div {
  display: hidden;
  width: 100%;
  height: 20vh;
  background-color: red;
  overflow: hidden;
  transition: all;
  animation-duration: 300
  
 /* hidden w-full h-20vh bg-gray-200 overflow-hidden transition-all duration-300 ease-in-out; */
}

.animated-div.open {
 display: block;
}
/* Add this CSS to your stylesheet */
.rotated-icon {
  transform: rotate(180deg);
}

@font-face {
  font-family: 'Inter';
  src: url('../src/assets/fonts/Inter-Regular.ttf');

}
@font-face {
  font-family: 'sans-med';
  src: url('../src/assets/fonts/Inter-Medium.ttf');

}
@font-face {
  font-family: 'sans-sem';
  src: url('../src/assets/fonts/Inter-SemiBold.ttf');

}
@font-face {
  font-family: 'sans-bold';
  src: url('../src/assets/fonts/Inter-Bold.ttf');

}


